# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle mainwindow'
      'command': 'mainwindow:toggle'
    }
  ]
# 'menu': [
#   {
#     'label': 'Packages'
#     'submenu': [
#       'label': 'mainwindow'
#       'submenu': [
#         {
#           'label': 'Toggle'
#           'command': 'mainwindow:toggle'
#         }
#       ]
#     ]
#   }
# ]
